@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: #15181D;
}

header nav {
    width: 1150px;
    margin: auto;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 999;
}

.hello-world {
    font-size: 40px;
    text-decoration: none;
    margin-left: 10px;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0 20px;
    gap: 25px;
    letter-spacing: 2px;
}

ul li {
    transition: 0.5s ease-out;
}

nav ul a {
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.sticky {
    background-color: #080808;
    z-index: 999;
}

.nav-link {
    color: #fff;
}

.sticky .nav-link {
    color: #fff;
}

/* Here nav-bar end */


/* Here is Container */
.container {
    width: min(100%, 1150px);
    margin-inline: auto;
    padding: 5rem 20px 5rem 20px;
}

/* Here Bg-1 start */
.bg-1 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.img-1 {
    width: 415px;
    height: 415px;
    object-fit: cover;
    border-radius: 50% 20% / 10% 40%;
    border: 5px solid rgba(255, 255, 255, 0.9);
    z-index: 1;
}

.mb-6 {
    width: 650px;
    font-size: 52px;
    font-weight: bold;
    line-height: 65px;
    margin: 15px 0 25px 0;
    z-index: 999;
    color: #fff;
}

.p-1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    color: #E0E0E0;
}

.color {
    color: #EB4D4B;
}

.since {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #E0E0E0;
}

.buttons {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.button {
    --color: #FEE5B5;
    padding: 0.8em 1.3em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    top: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: .6s;
    font-weight: 400;
    font-size: 17px;
    border: 2px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: rgb(10, 25, 30);
}

.button:active {
    filter: brightness(.8);
}

/* Here End BG-1 */


/* BG About Me */
.bg-about {
    width: 100%;
    height: 80vh;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.my-paragraph {
    width: 960px;
}

.border-left {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 16px;
    border-style: solid;
    border-width: 0px 0px 0px 8px;
    border-color: #EB4D4B;
    border-radius: 0px 0px 0px 0px;
}

.border-left h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 42px;
    color: #fff;
}

.one {
    font-size: 18px;
    font-weight: normal;
    line-height: 30.6px;
}

.projects {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    color: #EB4D4B;
}

.linkedln {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    color: #8ecae6;
}

.in-love {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.five,
.in-love {
    display: flex;
    margin-right: 10px;
    padding: 0;
    align-items: center;
}

/* Here End BG About Me */


/* Here Start BG-2 */
.bg-2 {
    background-color: #131313;
}

.grid-container {
    margin: auto;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
}

.grid-container>.box {
    text-align: left;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    border: 3px solid #41403e;
    padding: 12px;
    border-radius: 4px;
}

.box {
    width: 355px;
    display: block;
}

.box:hover {
    background-color: #0d0d0d;
}

.img-border {
    height: 250px;
    border-radius: 12px 0 12px 0;
}

img {
    width: 100%;
    height: 100%;
}

.heading-one {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
    margin: 5px 0 10px 0;
    color: #E0E0E0;
}

.paragraph-two {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0;
    color: #999999;
}

.btn-one {
    padding: 5px 15px;
    margin: 15px 10px 5px 0;
    font-size: 12px;
    line-height: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #212121;
    color: #E0E0E0;
}

.full-width {
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    color: #fff;
}

span {
    font-size: 56px;
    border-radius: 50px;
    color: #EB4D4B;
}

.btn-more {
    align-self: center;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 23px;
    border: none;
    outline: none;
    padding: 12px 23px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    touch-action: manipulation;
    background-color: #fff;
    color: #41403e;
}

.btn-more:hover {
    transform: translate3d(0, 2px, 0);
}

/* Here End BG-2 */


/* Here BG My Story */
.my-story {
    display: block;
    color: #fff;
}

.one {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    margin-top: 30px;
    color: #999;
}

.five {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    margin-top: 18px;
    color: #999;
}

.my-skills {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: #fff;
}

.title-skills {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 20px;
    color: #E0E0E0;
}

.p-skills {
    font-size: 18px;
    line-height: 23.4px;
    margin-top: 10px;
    color: #BDBDBD;
}

.ick {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    color: #fcbf49;
}

.pprogramera {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    color: #006d77;
}

.upwork {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-decoration: underline;
    color: #2a9d8f;
}

.fa-code {
    margin-left: 10px;
    font-size: 20px;
    color: #a7c957;
}

/* Here End BG My Story */


/* Here Start Footer */
.footer {
    width: 100%;
    background: #080808;
}

.footer-content {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.first-row {
    display: block;
    height: 100%;
}

.get-in-touch {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 25px;
    color: #FEE5B5;
}

.leter-spacing {
    max-width: 450px;
    margin-bottom: 18px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #fff;
}

.feather {
    padding: 8px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #fff;
    color: #080808;
    text-decoration: none;
}

svg,
a {
    text-decoration: none;
}

.p-footer {
    top: 60px;
    text-align: center;
    position: relative;
    background-color: #080808;
    color: #D9E1C5;
}

.my-name {
    font-size: 17px;
    font-weight: bold;
}

/* Here End Footer */


/* Title Left */
.services-title {
    text-align: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: 1px;
    margin-bottom: 55px;
    z-index: 999;
    color: #fff;
}


/* Responsive Design */
@media screen and (max-width: 1200px) {
    .my-skills {
        width: 100%;
    }
}


@media screen and (max-width: 1024px) {

    header {
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        justify-content: space-between;
        padding: 0;
        align-items: center;
        transition: 0.6s;
        z-index: 999;
    }

    .mb-6 {
        width: 100%;
        font-size: 48px;
        font-weight: bold;
        line-height: 65px;
        margin: 15px 0 15px 0;
        position: relative;
        z-index: 999;
        color: #fff;
    }

    .color {
        font-size: 48px;
        font-weight: bold;
        line-height: 65px;
    }

    .p-1 {
        font-size: 23px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 30px;
        color: #E0E0E0;
    }



    /* Here Start BG-2 */
    .grid-container {
        height: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .grid-container .box {
        width: 100%;
    }

    .my-skills {
        width: 100%;
        height: 100%;
    }

    /* BG About Me */
    .bg-about {
        width: 100%;
        height: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }

    .my-paragraph {
        width: 100%;
        height: 100%;
    }

    /* Here End BG About Me */

    /* Title */
    .services-title {
        text-align: left;
        font-size: 48px;
        font-weight: bold;
        line-height: 56px;
        letter-spacing: 1px;
        margin-bottom: 55px;
        color: #fff;
    }
}


@media screen and (max-width: 768px) {

    header {
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        justify-content: space-between;
        padding: 0 15px;
        align-items: center;
        transition: 0.6s;
        z-index: 999;
    }

    .hello-world {
        margin: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 7px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        width: 100%;
        height: 100vh;
        background: #080808;
        position: fixed;
        left: -100%;
        top: 70px;
        padding-top: 40px;
        line-height: 90px;
        display: block;
        font-size: 28px;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        opacity: 1;
    }

    .nav-menu.active {
        left: 0;
    }

    .bar {
        background: #fff;
    }

    .nav-link {
        color: #fff;
    }

    .sticky ul li a {
        color: #fff;
    }

    .sticky .bar {
        background: #fff;
    }

    /* Here End BG-1 */


    /* Here Start BG-1 */
    .bg-1 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .mb-6 {
        width: 100%;
        font-size: 50px;
        line-height: 55px;
        z-index: 0;
    }

    .img-1 {
        width: 100%;
        height: 100%;
        justify-content: center;
        margin: auto;
    }

    .color {
        font-size: 50px;
        line-height: 55px;
    }

    .p-1 {
        margin-top: 40px;
    }

    .p-1,
    .since {
        font-size: 20px;
        line-height: 22.8px;
    }

    .heading-one {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
    }

    .paragraph-two {
        font-size: 18px;
        line-height: 27px;
    }

    /* Here start Bg-2 */


    /* Here start Bg-3 */
    .section-2 {
        width: 100%;
        height: 100%;
    }

    /* Here start Bg-4 */
    .grid-container {
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

    .grid-container>.box {
        width: 100%;
        justify-content: center;
        gap: 0;
    }

    .my-skills {
        width: 100%;
    }

    .skills {
        margin-top: 50px;
    }

    .services-title {
        font-size: 40px;
        font-weight: bold;
        line-height: 40px;
    }

}


@media screen and (max-width: 600px) {

    .hello-world {
        margin: 0;
        padding: 0;
    }

    .bg-1 {
        width: 100%;
        height: 100%;
    }

    .mb-6 {
        font-size: 26px;
        line-height: 35px;
    }

    .color {
        font-size: 26px;
        line-height: 35px;
    }

    .p-1 {
        margin-top: 40px;
    }

    .p-1,
    .since {
        font-size: 18px;
        line-height: 19.8px;
    }

    .btn-1 {
        padding: 12px 20px;
        font-size: 16px;
        line-height: 20.8px;
        letter-spacing: 2px;
    }

    .img-1 {
        width: 100%;
        height: 100%;
    }

    .grid-container {
        width: auto;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
    }

    .my-skills {
        width: 100%;
        height: 100%;
        display: block;
    }

    .services-title {
        font-size: 35px;
        font-weight: bold;
        line-height: 40px;
    }

}
