@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
}

/* This is header nav-bar */
header nav {
    width: 1200px;
    margin: auto;
}

/* This is header nav-bar */
header {
    width: 100%;
    height: 80px;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 999;
    top: 0;
    background-color: #fff;
}

/* Logo Header */
.logo {
    font-size: 35px;
    align-items: center;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    color: #01161e;
}

/* Logo Link */
.logo,
a {
    text-decoration: none;
}

/* This is Logo Image Header */
.home {
    padding-left: 10px;
    align-items: center;
    height: 40px;
}

/* Nav */
nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav ul */
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    gap: 25px;
}

/* Nav ul li */
ul li {
    transition: 0.5s ease-out;
}

/* Nav ul a */
nav ul a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
}

/* This is bar line for Hamburger Menu */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: black;
}

/* Nav Positon Sticky */
.sticky {
    background-color: #fff;
    z-index: 999;
    box-shadow: 0px 10px 30px rgba(216, 216, 216, 0.45);
}

/* Nav Link */
.nav-link {
    color: #052639;
}

/* Here is section Background First */
section {
    background-image: url(image/bg-dent.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* They are bg-together First, Second and Third */
.bg-1,
.bg-2,
.bg-3 {
    width: 100%;
    height: 100vh;
}

/* Text on Bg-First */
.text-on-bg {
    width: 1200px;
    height: 100vh;
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
}

/* This is for Heading h3 */
.text-left h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

/* This is for Heading h1 */
.text-left h1 {
    width: 500px;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-top: 15px;
    color: #052639;
}

/* Button */
.button {
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.8px;
    margin-top: 30px;
    padding: 12px 30px;
    outline: 0;
    border: 0;
    text-transform: uppercase;
    background-color: #E7CA71;
}

/* Phone Number */
.phone {
    font-size: 22px;
    line-height: 27px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #052639;
}

/* Here is Background Second */
.bg-2 {
    width: 100%;
    height: 120vh;
    padding: 8rem 0 8rem 0;
    background-color: #4a5759;
}

/* Border on Bg-Second */
.border {
    width: 85%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0 45px 0 45px;
    border: solid 1px #F4F6F3;
}

/* Section text on bg-second */
.section-text {
    margin: auto;
}

/* Title text on Background 2 */
.done {
    font-size: 45px;
    font-weight: bold;
    line-height: 54px;
    color: #fff;
}

/* Icons on Background 2 */
.feather {
    vertical-align: middle;
    color: #E7CA71;
    margin-right: 20px;
}

/* Paragraph 1 */
.p-1 {
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.8px;
    margin: 20px 0 20px 0;
    font-weight: normal;
    color: #fff;
}

/* Paragraph 2 */
.p-2 {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

/* Paragraph 3 */
.p-3 {
    font-size: 20px;
    line-height: 27px;
    margin-top: 20px;
    color: #fff;
}

/* Image on Background 2 */
.confident {
    padding: 1rem 0 1rem 0;
}

/* This is Background 3 */
.bg-3 {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Background Content 3 */
.bg-content {
    width: 1200px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5rem;
    margin: auto;
}

/* Box 1 for Heading h2 */
.box-1 h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 45px;
    color: #052639;
}

/* Box 1 for paragraph */
.box-1 p {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: #052639;
}

/* Box-one */
.box-one {
    height: auto;
    background-color: #F4F6F3;
    border-radius: 0 22px 0 22px;
    overflow: hidden;
    padding: 25px;
    box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.3);
}

/* Hr line horizontal */
hr {
    height: 1px;
    border: 0;
    outline: 0;
    background-color: #052639;
    margin: 40px 0 20px 0;
}

/* Box two */
.box-two {
    height: auto;
    background-color: rgba(231, 202, 113, 0.9);
    border-radius: 0 22px 0 22px;
    overflow: hidden;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.3);
}

/* This is Background 4 */
.bg-4 {
    width: 100%;
    height: 100%;
    padding: 8rem 0 8rem 0;
    background-color: #F4F6F3;
    display: block;
    align-items: center;
}

/* Content on Background 4 */
.center {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 80px;
    color: #052639;
}

/* Background Grid */
.bg-grid {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.5rem;
    margin: auto;
}

/* Figure */
.img-content {
    background-color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px 30px 0 0;
}

/* Foto 1 */
.foto-1 {
    height: 372px;
    display: block;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    background-image: url(image/01.jpg);
    transition: transform 300ms ease;
}

/* Foto 2 */
.foto-2 {
    height: 372px;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    background-image: url(image/02.jpg);
    transition: transform 300ms ease;
}

/* Foto 3 */
.foto-3 {
    height: 372px;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    background-image: url(image/03.jpg);
    transition: transform 300ms ease;
}

/* Title for Image */
.title-1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    padding: 20px 0 7px 0;
    color: #052639;
}

/* Text-paragraf for image */
.para-1 {
    font-size: 16px;
    line-height: 27.2px;
    margin-bottom: 20px;
    color: #052639;
}

/* Button Read More */
.btn-more {
    padding: 8px 25px;
    border: solid 1px #e7ca71;
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #052639;
    outline: 0;
    cursor: pointer;
    margin-bottom: 20px;
}

/* This is Background 4 */
.bg-5 {
    width: 100%;
    height: 100vh;
    background: url(image/bg-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* This is Background 6 */
.bg-6 {
    width: 100%;
    height: 100vh;
}

/* This is Border Background 6 */
.bg-border {
    width: 80%;
    height: 75vh;
    margin: 7rem auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 45px 0 45px 0;
    overflow: hidden;
    border: solid 2px #266980;
}

/* Text Paragraph */
.text-paragraf {
    padding: 0 130px 0 60px;
    text-align: left;
}

/* Title 1  */
.t-1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27.5px;
    color: #266980;
}

/* Title No Surprise  */
.surprise {
    font-size: 45px;
    line-height: 54px;
    font-weight: bold;
    margin: 18px 0 25px 0;
    color: #266980;
}

/* Text */
.text-paragraf p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27.2px;
    color: #266980;
}

/* Other Width */
.health {
    width: 100%;
    text-align: left;
    justify-content: center;
    background-color: #4a5759;
}

/* Icons Heart */
.fa-heartbeat {
    font-size: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
}

/* Insurane */
.insurance {
    display: block;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 2.5rem auto;
}

/* Insurance Heading h2 */
.insurance h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 33.6px;
    margin-bottom: 20px;
    padding-left: 20px;
    color: #F4F6F3;
}

/* insurance paragraph */
.insurance p {
    font-size: 18px;
    font-weight: normal;
    line-height: 27.2px;
    padding-left: 20px;
    color: #F4F6F3;
}

/* This is Background 7 */
.bg-7 {
    width: 78%;
    height: 100%;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 8rem;
}

/* Image Gallery */
.img-gallery {
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

/* Image Border */
.img-border {
    border-top-right-radius: 30px;
}

/* Text Visit us */
.visit-us {
    width: 80%;
    height: 100%;
    text-align: left;
}

/* Heading h2 */
.visit-us h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    color: #052639;
}

/* Paragraph */
.visit-us p {
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    margin-top: 20px;
    color: #052639;
}

/* Text with underline */
.line {
    text-decoration: underline;
    cursor: pointer;
}

/* Icons */
.fa-map,
.fa-clock {
    font-size: 35px;
    vertical-align: middle;
    margin-right: 10px;
}

/* This is for Background 8 */
.bg-8 {
    width: 100%;
    height: 60vh;
    text-align: center;
    align-items: center;
    margin-top: 8rem;
    display: flex;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

/* Background Flex */
.bg-flex {
    width: 600px;
    display: block;
    margin: auto;
    line-height: 70px;
}

/* Background Flex Heading h2 */
.bg-flex h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 54px;
    color: #090909;
}

/* Background Flex paragraph */
.bg-flex p {
    font-size: 20px;
    line-height: 27.2px;
    margin-top: 30px;
}

/* Button Book Online */
.book-btn {
    padding: 10px 35px;
    font-size: 18px;
    line-height: 34px;
    margin-top: 30px;
    cursor: pointer;
}

/* This is Footer  */
.footer {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    background-color: #264653;
}

/* Content Footer */
.content-footer {
    width: 78%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    justify-content: center;
    justify-content: space-between;
}

/* Content Grid */
.content-grid {
    width: 300px;
}

/* Content Grid Heading h2 */
.content-grid h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 20px;
    color: #F4F6F3;
}

/* Content Grid paragraph */
.content-grid p {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: #F4F6F3;
}

/* Button Pay Online */
.pay-btn {
    padding: 8px 25px;
    font-size: 16px;
    line-height: 34px;
    margin-top: 20px;
    cursor: pointer;
}

/* Icons Footer */
.feather-facebook,
.feather-instagram {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    margin-right: 8px;
    color: #090909;
}

/* Bottom Footer */
.bottom-footer {
    background-color: #264653;
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F6F3;
}


/* Responsive Design */
@media screen and (max-width: 1024px) {

    /* This is Header nav-bar */
    header {
        width: 100%;
        height: 100%;
    }

    nav ul,
    .logo {
        padding: 0 20px;
    }

    /* This is for Background 1 */
    section {
        background-position: right;
        background-size: cover;
        overflow-x: hidden;
    }

    /* Text on Background 1 */
    .text-on-bg {
        margin-left: 20px;
    }

    /* This is for Heading h3 */
    .text-left h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }

    /* This is for Heading h1 */
    .text-left h1 {
        width: 300px;
        font-size: 25px;
        font-weight: 600;
        line-height: 60px;
        margin-top: 15px;
        color: #052639;
    }

    /* Button */
    .button {
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 0.8px;
        margin-top: 30px;
        padding: 12px 30px;
        outline: 0;
        border: 0;
        text-transform: uppercase;
        background-color: #E7CA71;
    }

    /* Phone Number */
    .phone {
        font-size: 22px;
        line-height: 27px;
        margin-top: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #052639;
    }

    /* This is Background 2 */
    .bg-2 {
        width: 100%;
        height: 100%;
        padding: 8rem 0 8rem 0;
        background-color: #4a5759;
    }

    /* Border on Background 2 */
    .border {
        width: 90%;
        height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 0 45px 0 45px;
        border: solid 1px #F4F6F3;
    }

    /* Section Text on 2 */
    .section-text {
        margin: auto;
    }

    /* This is for image on Background 2 */
    .confident {
        width: 100%;
        height: 100%;
    }

    /* This is Background 3 */
    .bg-3 {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 3rem 0 3rem 0;
    }

    /* Background Content 3 */
    .bg-content {
        width: 90%;
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        margin: auto;
    }

    /* This is for Box on Background 3 */
    .box-two {
        padding-bottom: 25px;
    }

    /* This is Background 4 */
    .bg-4 {
        width: 100%;
        height: 100%;
        padding: 5rem 0 5rem 0;
        background-color: #F4F6F3;
        display: block;
        align-items: center;
    }

    /* Content Background 4 */
    .center {
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        line-height: 54px;
        margin-bottom: 80px;
        color: #052639;
    }

    /* BG-Grid */
    .bg-grid {
        width: 90%;
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        margin: auto;
    }

    /* This is Background 5 */
    .bg-5 {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* This is Background 6 */
    .bg-6 {
        height: 100%;
    }

    /* This is Border Background 6 */
    .bg-border {
        height: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
    }

    /* Left width */
    .half-width {
        width: 100%;
        height: 100%;
        padding: 1rem 0 1rem 0;
    }

    /* Text paragraph */
    .text-paragraf {
        width: 100%;
    }

    /* Right width */
    .health {
        width: 100%;
        height: 100%;
        text-align: left;
    }

    /* Icons on bg-6 Heart */
    .fa-heartbeat {
        font-size: 150px;
    }

    /* This is Background 7 */
    .bg-7 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 5rem;
    }

    /* Image Gallery */
    .img-gallery {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
    }

    /* Text on Background 7 */
    .visit-us {
        width: 90%;
        height: 100%;
        text-align: left;
        margin: auto;
    }

    /* This is Background 8 */
    .bg-8 {
        width: 100%;
        height: 60vh;
    }

    /* Footer */
    .footer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #264653;
    }

    /* Content Grid Footer */
    .content-grid {
        padding: 1rem 0 2rem 0;
    }

    /* Content Footer */
    .content-footer {
        width: 80%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin: auto;
    }

}


@media screen and (max-width: 768px) {

    /* This is header nav-bar */
    header {
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        z-index: 999;
    }

    /* hamburger Menu */
    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 20px;
    }

    /* hamburger Menu Active child-2*/
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    /* hamburger Menu Active child-1 */
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    /* hamburger Menu Active child-3 */
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Nav Menu */
    .nav-menu {
        width: 100%;
        height: 100vh;
        background: #fff;
        position: fixed;
        left: -100%;
        top: 70px;
        padding-top: 40px;
        line-height: 90px;
        display: block;
        font-size: 28px;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        opacity: 1;
    }

    /* Nav Menu Active */
    .nav-menu.active {
        left: 0;
    }

    /* This is bar line for Hamburger Menu */
    .bar {
        background: #000;
    }

    /* Nav Link  */
    .nav-link {
        color: #000;
    }

    /* Nav Sticky */
    .sticky ul li a {
        color: #000;
    }

    /* Nav Sticky Bar */
    .sticky .bar {
        background: #000;
    }

    /* This is for Background 1 */
    section {
        background-position: right;
        background-size: cover;
        overflow-x: hidden;
    }

    /* Text on Background 1 */
    .text-on-bg {
        margin-left: 20px;
    }

    /* This is for Heading h3 */
    .text-left h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }

    /* This is for Heading h1 */
    .text-left h1 {
        width: 300px;
        font-size: 25px;
        font-weight: 600;
        line-height: 60px;
        margin-top: 15px;
        color: #052639;
    }

    /* Button */
    .button {
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 0.8px;
        margin-top: 30px;
        padding: 12px 30px;
        outline: 0;
        border: 0;
        text-transform: uppercase;
        background-color: #E7CA71;
    }

    /* Phone Number */
    .phone {
        font-size: 22px;
        line-height: 27px;
        margin-top: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #052639;
    }

    /* This is Background 2 */
    .bg-2 {
        width: 100%;
        height: 100%;
        padding: 8rem 0 8rem 0;
        background-color: #4a5759;
    }

    /* Border on Background 2 */
    .border {
        width: 90%;
        height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 0 45px 0 45px;
        border: solid 1px #F4F6F3;
    }

    /* Section Text on 2 */
    .section-text {
        margin: auto;
    }

    /* This is for image on Background 2 */
    .confident {
        width: 100%;
        height: 100%;
    }

    /* This is Background 3 */
    .bg-3 {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 3rem 0 3rem 0;
    }

    /* Background Content 3 */
    .bg-content {
        width: 90%;
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        margin: auto;
    }

    /* This is for Box on Background 3 */
    .box-two {
        padding-bottom: 25px;
    }

    /* This is Background 4 */
    .bg-4 {
        width: 100%;
        height: 100%;
        padding: 5rem 0 5rem 0;
        background-color: #F4F6F3;
        display: block;
        align-items: center;
    }

    /* Content Background 4 */
    .center {
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        line-height: 54px;
        margin-bottom: 80px;
        color: #052639;
    }

    /* BG-Grid */
    .bg-grid {
        width: 90%;
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        margin: auto;
    }

    /* This is Background 5 */
    .bg-5 {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* This is Background 6 */
    .bg-6 {
        width: 100%;
        height: 100%;
    }

    /* This is Border Background 6 */
    .bg-border {
        height: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
    }

    /* This is Background 7 */
    .bg-7 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 5rem;
    }

    /* Image Gallery */
    .img-gallery {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
    }

    /* Text on Background 7 */
    .visit-us {
        width: 90%;
        height: 100%;
        text-align: left;
        margin: auto;
    }

    /* This is Background 8 */
    .bg-8 {
        width: 100%;
        height: 60vh;
    }

    /* Footer */
    .footer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #264653;
    }

    /* Content Grid Footer */
    .content-grid {
        padding: 1rem 0 2rem 0;
    }

    /* Content Footer */
    .content-footer {
        width: 80%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin: auto;
    }

}


@media screen and (max-width: 600px) {

    /* This is header nav-bar */
    header {
        width: 100%;
        height: 70px;
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        z-index: 999;
    }

    /* hamburger Menu */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* hamburger Menu Active child-2*/
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    /* hamburger Menu Active child-1 */
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    /* hamburger Menu Active child-3 */
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Nav Menu */
    .nav-menu {
        width: 100%;
        height: 100vh;
        background: #fff;
        position: fixed;
        left: -100%;
        top: 70px;
        padding-top: 40px;
        line-height: 90px;
        display: block;
        font-size: 28px;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        opacity: 1;
    }

    /* Nav Menu Active */
    .nav-menu.active {
        left: 0;
    }

    /* This is bar line for Hamburger Menu */
    .bar {
        background: #000;
    }

    /* Nav Link  */
    .nav-link {
        color: #000;
    }

    /* Nav Sticky */
    .sticky ul li a {
        color: #000;
    }

    /* Nav Sticky Bar */
    .sticky .bar {
        background: #000;
    }

    /* This is for Background 1 */
    section {
        background-position: right;
        background-size: cover;
    }

    /* Text on Background 1 */
    .text-on-bg {
        margin-left: 20px;
    }

    /* This is for Heading h3 */
    .text-left h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }

    /* This is for Heading h1 */
    .text-left h1 {
        width: 300px;
        font-size: 25px;
        font-weight: 600;
        line-height: 60px;
        margin-top: 15px;
        color: #052639;
    }

    /* Button */
    .button {
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 0.8px;
        margin-top: 30px;
        padding: 12px 30px;
        outline: 0;
        border: 0;
        text-transform: uppercase;
        background-color: #E7CA71;
    }

    /* Phone Number */
    .phone {
        font-size: 22px;
        line-height: 27px;
        margin-top: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #052639;
    }

    /* This is Background 2 */
    .bg-2 {
        width: 100%;
        height: 100%;
        padding: 8rem 0 8rem 0;
        background-color: #4a5759;
    }

    /* Border on Background 2 */
    .border {
        width: 90%;
        height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 0 45px 0 45px;
        border: solid 1px #F4F6F3;
    }

    /* Section Text on 2 */
    .section-text {
        margin: auto;
    }

    /* This is for image on Background 2 */
    .confident {
        width: 100%;
        height: 100%;
    }

    /* This is Background 3 */
    .bg-3 {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 3rem 0 3rem 0;
    }

    /* Background Content 3 */
    .bg-content {
        width: 90%;
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        margin: auto;
    }

    /* This is for Box on Background 3 */
    .box-two {
        padding-bottom: 25px;
    }

    /* This is Background 4 */
    .bg-4 {
        width: 100%;
        height: 100%;
        padding: 5rem 0 5rem 0;
        background-color: #F4F6F3;
        display: block;
        align-items: center;
    }

    /* Content Background 4 */
    .center {
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        line-height: 54px;
        margin-bottom: 80px;
        color: #052639;
    }

    /* BG-Grid */
    .bg-grid {
        width: 90%;
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        margin: auto;
    }

    /* This is Background 5 */
    .bg-5 {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* This is background 6 */
    .bg-6 {
        width: 100%;
        height: 100%;
        padding: 0 1rem 0 1rem;
    }

    /* This is Border for Background 6 */
    .bg-border {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    /* Left width */
    .text-paragraf {
        width: 100%;
        padding: 1rem;
    }

    /* This is Background 7 */
    .bg-7 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 5rem;
    }

    /* Image Gallery */
    .img-gallery {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
    }

    /* Text on Background 7 */
    .visit-us {
        width: 90%;
        height: 100%;
        text-align: left;
        margin: auto;
    }

    /* This is Background 8 */
    .bg-8 {
        width: 100%;
        height: 60vh;
    }

    /* Footer */
    .footer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #264653;
    }

    /* Content Grid Footer */
    .content-grid {
        padding: 1rem 10px 2rem 10px;
    }

    /* Content Footer */
    .content-footer {
        width: 80%;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin: auto;
    }

}


@media screen and (max-width: 400px) {

    /* This is header nav-bar */
    header {
        width: 100%;
        height: 70px;
        z-index: 1;
    }

    /* Nav Logo */
    .hello-world {
        margin: 0;
    }

    /* hamburger Menu */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* hamburger Menu Active child-2*/
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    /* hamburger Menu Active child-1 */
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    /* hamburger Menu Active child-3 */
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Nav Menu */
    .nav-menu {
        width: 100%;
        height: 100vh;
        background: #fff;
        position: fixed;
        left: -100%;
        top: 70px;
        padding-top: 40px;
        line-height: 90px;
        display: block;
        font-size: 28px;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        opacity: 1;
    }

    /* Nav Menu Active */
    .nav-menu.active {
        left: 0;
    }

    /* This is bar line for Hamburger Menu */
    .bar {
        background: #000;
    }

    /* Nav Link  */
    .nav-link {
        color: #000;
    }

    /* Nav Sticky */
    .sticky ul li a {
        color: #000;
    }

    /* Nav Sticky Bar */
    .sticky .bar {
        background: #000;
    }

}
